In [54]:
import pandas as pd
from string import ascii_uppercase as alfabeto
import pickle

In [42]:
todas_tablas = pd.read_html('https://web.archive.org/web/20230911171621/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

In [43]:
todas_tablas[59]

   Pos      Teamvte  Pld  W  D  L  GF  GA  GD  Pts               Qualification
0    1     Portugal    3  2  0  1   6   4  +2    6  Advanced to knockout stage
1    2  South Korea    3  1  1  1   4   4   0    4  Advanced to knockout stage
2    3      Uruguay    3  1  1  1   2   2   0    4                         NaN
3    4        Ghana    3  1  0  2   5   7  −2    3                         NaN

In [44]:
todas_tablas[10].columns[1]

'Teamvte'

In [48]:
for letra, i in zip(alfabeto , range(10,66,7)):
    print(letra,i)

A 10
B 17
C 24
D 31
E 38
F 45
G 52
H 59

In [50]:
dict_tablas = {}
for letra, i in zip ( alfabeto, range (10,66,7)):
    df = todas_tablas[i]
    df.rename(columns={df.columns[1] : 'Team'}, inplace=True)
    # df.pop('Qualification')
    dict_tablas[f'Grupo {letra}'] = df

In [52]:
dict_tablas['Grupo A']

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1  Netherlands    3  2  1  0   5   1  +4    7
1    2      Senegal    3  2  0  1   5   4  +1    6
2    3      Ecuador    3  1  1  1   4   3  +1    4
3    4    Qatar (H)    3  0  0  3   1   7  −6    0

In [55]:
with open('dict_tablas', 'wb') as output:
    pickle.dump(dict_tablas,output)